In [1]:
# import sys
# get_ipython().system('{sys.executable} -m pip install scraper-helper')

# get_ipython().system('{sys.executable} -m pip install nltk')

In [2]:
# # import beautiful soup library
# from bs4 import BeautifulSoup
# from bs4 import *
# import urllib3
# import html5lib
# # import requests library
# import requests
# from scraper_helper import *
# import matplotlib.pyplot as plt

In [3]:
# # This is the web page we will pull data from
# url="https://en.wikipedia.org/wiki/Depeche_Mode_discography#Singles"
# # Pull the date from the web page
# http = urllib3.PoolManager()
# response = http.request('GET', url)
# response

In [4]:
# Create a Beautiful Soup object, passing in the page data
#soup_lxml = BeautifulSoup(response.data, "lxml")#faster
# page = BeautifulSoup(response.data, "html.parser")

In [5]:
# table =page.find('table', {'class': 'wikitable plainrowheaders'})
# df=tableToDataFrame(table)
# df= pd.dataFrame(table) #doesn't work
#df= pd.read_html("https://en.wikipedia.org/wiki/Depeche_Mode_discography#Singles")#works
# tbl = soup.find("table",{"id":"MainContent_dataGridView1"})

<!-- <h2>tables_singles is a list including 11 tables with 'Peak chart positions'</h2> <p> Singles starts from [4]</p> -->

<h2>Part2: </h2>

<h1>Scraping</h1> To find the correlation with sentiment and popularity of the song I am using the discography data from the wiki since this is a data that is with creative common it shuould be good to use.

<h2>I need a data on singles hit chart so scraping this data from Depechemode Discography wiki: "https://en.wikipedia.org/wiki/Depeche_Mode_discography" </h2>
<h2>Using pandas.read_html since it parses table tags returns a list of DataFrame object </h2> <p> it seems more efficient than beautiful soup. also I had an issues with "tableToData()" method which was in the course material</p>

In [6]:
from unicodedata import normalize# perhaps we don't need since English wikipedia
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 

import csv
import re

<h2>Search for the right table in the wiki</h2> by seraching for a unique words to the singles tables : <strong>"List of singles, with selected chart positions and certifications, showing year released and album name"</strong>

In [7]:
url = "https://en.wikipedia.org/wiki/Depeche_Mode_discography"
#search for 'List of singles, with selected chart positions and certifications, showing year released and album name' in the tables
keyword ="List of singles, with selected chart positions and certifications, showing year released and album name"
tables_singles = pd.read_html(url, match = keyword)#returns list 
print(type(tables_singles))
print(len(tables_singles))
# print(tables_singles.shape)#error since it is list

<class 'list'>
3

should have more, 80s,90s, 00s,10s,20s = 5 lists. lets check

In [8]:
tables_singles[0]#80s
tables_singles[0].drop_duplicates()
tables_singles[0].head()

                     Title  Year Peak chart positions                   \
                     Title  Year               UK [3] AUS [4] FRA [85]
0         "Dreaming of Me"  1981                   57       —        —
1               "New Life"  1981                   11       —        —
2  "Just Can't Get Enough"  1981                    8       4       31
3                "See You"  1982                    6       —        —
4    "The Meaning of Love"  1982                   12       —        —

                                                               \
  GER [7] IRL [86] ITA [87] NLD [9] SWE [10] SWI [11] US [88]
0   45[C]        —        —       —        —        —       —
1       —       22        —       —        —        —       —
2       —       16        —      10       14        —       —
3      44        9        —      49        —        —       —
4      64       17        —       —       16        —       —

                                    Certifications                Album  \
                                    Certifications                Album
0                                              NaN  Non-album single[D]
1                                              NaN        Speak & Spell
2  BPI: Platinum[14] BVMI: Gold[15] FIMI: Gold[50]        Speak & Spell
3                                  BPI: Silver[14]       A Broken Frame
4                                              NaN       A Broken Frame

  Unnamed: 14_level_0 Unnamed: 15_level_0
  Unnamed: 14_level_1 Unnamed: 15_level_1
0                 NaN                 NaN
1                 NaN                 NaN
2                 NaN                 NaN
3                 NaN                 NaN
4                 NaN                 NaN

In [9]:
tables_singles[1]#90s
tables_singles[1].drop_duplicates()
tables_singles[1].head()

                   Title  Year Peak chart positions                           \
                   Title  Year               UK [3] AUS [4] FIN [90] GER [7]
0    "Enjoy the Silence"  1990                    6      71        3       2
1      "Policy of Truth"  1990                   16     143        5       7
2     "World in My Eyes"  1990                   17     153        4       7
3           "I Feel You"  1993                    8      37        1       4
4  "Walking in My Shoes"  1993                   14      74        7      14

                                                        \
  IRL [86] ITA [87] SPA [91] SWE [10] SWI [11] US [88]
0        3        5        1        5        2       8
1       11        7        7       20       12      15
2        7       28        2        —        5      52
3        6        4        1        2        4      37
4       15        9        6        8       26      69

                                      Certifications  \
                                      Certifications
0  BPI: Platinum[14] BVMI: Platinum[15] FIMI: Pla...
1                                                NaN
2                                                NaN
3                                     RIAA: Gold[20]
4                                                NaN

                         Album Unnamed: 14_level_0
                         Album Unnamed: 14_level_1
0                     Violator                 NaN
1                     Violator                 NaN
2                     Violator                 NaN
3  Songs of Faith and Devotion                 NaN
4  Songs of Faith and Devotion                 NaN

In [10]:
tables_singles[2]#10s
tables_singles[2].drop_duplicates()
tables_singles[2].tail()

                                               Title  \
                                               Title
3                                 "Should Be Higher"
4                           "Where's the Revolution"
5                                  "Going Backwards"
6                                         "Cover Me"
7  "—" denotes a recording that did not chart or ...

                                                Year  \
                                                Year
3                                               2013
4                                               2017
5                                               2017
6                                               2017
7  "—" denotes a recording that did not chart or ...

                                Peak chart positions  \
                                              UK [3]
3                                                 81
4                                               —[K]
5                                                  —
6                                               —[N]
7  "—" denotes a recording that did not chart or ...

                                                      \
                                             AUT [5]
3                                                 60
4                                                  —
5                                                  —
6                                                  —
7  "—" denotes a recording that did not chart or ...

                                                      \
                                       BEL (WA) [92]
3                                                  —
4                                               —[L]
5                                               —[M]
6                                               —[O]
7  "—" denotes a recording that did not chart or ...

                                                      \
                                            FRA [85]
3                                                 58
4                                                 22
5                                                 90
6                                                 67
7  "—" denotes a recording that did not chart or ...

                                                      \
                                             GER [7]
3                                                 19
4                                                 29
5                                                  —
6                                                  —
7  "—" denotes a recording that did not chart or ...

                                                      \
                                            HUN [93]
3                                                 11
4                                                  3
5                                                  7
6                                                 35
7  "—" denotes a recording that did not chart or ...

                                                      \
                                            IRL [86]
3                                                  —
4                                                  —
5                                                  —
6                                                  —
7  "—" denotes a recording that did not chart or ...

                                                      \
                                            ITA [87]
3                                                  —
4                                                  —
5                                                  —
6                                                  —
7  "—" denotes a recording that did not chart or ...

                                                      \
                                            SWI [11]
3                                                 61
4                                                 57
5                                                  —
6                                                  —
7  "—" denotes a recording that did not chart or ...

                                                      \
                                        US Alt. [94]
3                                                  —
4                                                 40
5                                                  —
6                                                  —
7  "—" denotes a recording that did not chart or ...

                                      Certifications  \
                                      Certifications
3                                                NaN
4                                                NaN
5                                                NaN
6                                                NaN
7  "—" denotes a recording that did not chart or ...

                                               Album  \
                                               Album
3                                      Delta Machine
4                                             Spirit
5                                             Spirit
6                                             Spirit
7  "—" denotes a recording that did not chart or ...

                                 Unnamed: 14_level_0
                                 Unnamed: 14_level_1
3                                                NaN
4                                                NaN
5                                                NaN
6                                                NaN
7  "—" denotes a recording that did not chart or ...

<h2>Missing 00s and 20s</h2>  
00s, 20s table has slightly differnt words.  "List of singles, with selected chart positions, showing year released and album name" using this for 00s

In [11]:
keyword2="List of singles, with selected chart positions, showing year released and album name"
tables_singles2 = pd.read_html(url, match = keyword2)#returns list 
print(len(tables_singles2))

2

<h2>All of the dataframs has  '"—" denotes a recording that did not chart or was not released in that territory.' which is going to be a problem. Crate a  function to remove that substring</h2>

In [45]:
#remove '"—" denotes a recording that did not chart or was not released in that territory.'
substr ='"—" denotes a recording that did not chart or was not released in that territory.'

<h2>Function remove substring from DF</h2>

In [13]:
#dataframe version

def remove_substring_df(df, substring, col1,col2):
  
    filter_string=df[col1][col2].str.contains(substring)
    cleaned_df = df[~filter_string]
    
    return cleaned_df

In [14]:
#df w=after substrings removed
df_90s =remove_substring_df(tables_singles[1], substr, 'Title','Title')
df_80s =remove_substring_df(tables_singles[0], substr , 'Title','Title')
df_00s =remove_substring_df(tables_singles2[0], substr , 'Title','Title')
df_10s =remove_substring_df(tables_singles[2], substr , 'Title','Title')
df_20s =remove_substring_df(tables_singles2[1], substr , 'Title','Title')

In [15]:
df_80s.tail()

                         Title  Year Peak chart positions                   \
                         Title  Year               UK [3] AUS [4] FRA [85]
20                 "Little 15"  1988                   60       —       93
21           "Strangelove '88"  1988                    —       —        —
22                  "Route 66"  1988                    —   79[H]        —
23  "Everything Counts" (live)  1989                   22       —       29
24            "Personal Jesus"  1989                   13     134       27

                                                                \
   GER [7] IRL [86] ITA [87] NLD [9] SWE [10] SWI [11] US [88]
20      16        —        —       —        —       18       —
21       —        —        —       —        —        —      50
22       —        —        —       —        —        —       —
23      12       17       35      89        —       18       —
24       5        7        3      62       17        5      28

                                     Certifications                 Album  \
                                     Certifications                 Album
20                                              NaN  Music for the Masses
21                                              NaN  Music for the Masses
22                                              NaN      Non-album single
23                                              NaN                   101
24  BPI: Gold[14] FIMI: Platinum[50] RIAA: Gold[20]              Violator

   Unnamed: 14_level_0 Unnamed: 15_level_0
   Unnamed: 14_level_1 Unnamed: 15_level_1
20                 NaN                 NaN
21                 NaN                 NaN
22                 NaN                 NaN
23                 NaN                 NaN
24                 NaN                 NaN

In [16]:
df_90s.tail()

                        Title  Year Peak chart positions                   \
                        Title  Year               UK [3] AUS [4] FIN [90]
7           "Barrel of a Gun"  1997                    4      33        3
8              "It's No Good"  1997                    5      52        5
9                      "Home"  1997                   23     102       15
10                  "Useless"  1997                   28     134       17
11  "Only When I Lose Myself"  1998                   17      34        4

                                                                 \
   GER [7] IRL [86] ITA [87] SPA [91] SWE [10] SWI [11] US [88]
7        3       13        4        1        1       30      47
8        5       13        2        1        1       30      38
9       11        —        3        4       10       47      88
10      16        —       16        —       16        —       —
11       2       28        4        1        4       16      61

        Certifications              Album Unnamed: 14_level_0
        Certifications              Album Unnamed: 14_level_1
7   IFPI SWE: Gold[16]              Ultra                 NaN
8                  NaN              Ultra                 NaN
9                  NaN              Ultra                 NaN
10                 NaN              Ultra                 NaN
11                 NaN  The Singles 86>98                 NaN

In [17]:
df_00s.tail()

                                 Title  Year Peak chart positions          \
                                 Title  Year               UK [3] AUT [5]
8      "John the Revelator" / "Lilian"  2006                   18       —
9                             "Martyr"  2006                   13      31
10                             "Wrong"  2009                   24      12
11                             "Peace"  2009                   57      72
12  "Fragile Tension" / "Hole to Feed"  2009                    —       —

                                                                          \
   FRA [85] GER [7] IRL [86] ITA [87] SPA [91] SWE [10] SWI [11] US [88]
8         —      16       22       16        2       19       70       —
9        64       2       32        1        1       10       17       —
10       10       2       34        8       41        5       16       —
11       18      25        —       45        —       59       53       —
12       27      39        —        —        —        —        —       —

    Certifications                              Album Unnamed: 14_level_0
    Certifications                              Album Unnamed: 14_level_1
8              NaN                  Playing the Angel                 NaN
9              NaN  The Best of Depeche Mode Volume 1                 NaN
10  BVMI: Gold[15]             Sounds of the Universe                 NaN
11             NaN             Sounds of the Universe                 NaN
12             NaN             Sounds of the Universe                 NaN

In [18]:
df_10s.tail()

                      Title  Year Peak chart positions                        \
                      Title  Year               UK [3] AUT [5] BEL (WA) [92]
2          "Soothe My Soul"  2013                   88       —          —[J]
3        "Should Be Higher"  2013                   81      60             —
4  "Where's the Revolution"  2017                 —[K]       —          —[L]
5         "Going Backwards"  2017                    —       —          —[M]
6                "Cover Me"  2017                 —[N]       —          —[O]

                                                                     \
  FRA [85] GER [7] HUN [93] IRL [86] ITA [87] SWI [11] US Alt. [94]
2       45      22        1        —       67        —           27
3       58      19       11        —        —       61            —
4       22      29        3        —        —       57           40
5       90       —        7        —        —        —            —
6       67       —       35        —        —        —            —

  Certifications          Album Unnamed: 14_level_0
  Certifications          Album Unnamed: 14_level_1
2            NaN  Delta Machine                 NaN
3            NaN  Delta Machine                 NaN
4            NaN         Spirit                 NaN
5            NaN         Spirit                 NaN
6            NaN         Spirit                 NaN

In [19]:
df_20s.tail()

                     Title  Year Peak chart positions                \
                     Title  Year        UK Sales [98] BEL (WA) [92]
2         "Wagging Tongue"  2023                   22             —
3            "Speak to Me"  2023                    —             —
4  "My Favourite Stranger"  2023                   19             —
5   "Before We Drown"[108]  2024                   16             —
6        "People Are Good"  2024                   52             —

                                                                      \
  CAN DL [99] CZ [100] GER [7] HUN [101] POL [102] SK [103] SWI [11]
2           —       54    —[Q]         —         —        —        —
3           —        —    —[R]         —         —        —        —
4           —        —    —[S]         —         —        —        —
5           —        —    —[T]         —         —        —        —
6           —        —    —[U]         —         —        —        —

                       Album Unnamed: 13_level_0 Unnamed: 14_level_0
  US Alt. [94]         Album Unnamed: 13_level_1 Unnamed: 14_level_1
2            —  Memento Mori                 NaN                 NaN
3            —  Memento Mori                 NaN                 NaN
4            —  Memento Mori                 NaN                 NaN
5            —  Memento Mori                 NaN                 NaN
6            —  Memento Mori                 NaN                 NaN

<h2>Create dataframe with the uk data only. </h2> UK chart is the only one data being consistently present in each decade so it is probably the best data to use. 
Also There are colums at the end that's not useful. we also don't need certifications. so create a function to remove those as well.

In [20]:
#function streamline  into album, year, song title and UK ranking

def data_uk_only(df, n):    
    df1 = df
    #last garbage two
    for i in range(n):

        df_dropped = df1.drop(df1.columns[-1],axis=1)

        df1 = df_dropped    
        
    #remove the certifications
    df_new = df1.drop(df1.columns[12],axis=1)
    
    # remove other countries
    df_new2= df_new.drop( df_new.columns[3:12],axis=1)
    
    return df_new2

In [21]:
#dataframes with only UK data
df_80s_uk = data_uk_only(df_80s, 2)#remove last 2
df_90s_uk = data_uk_only(df_90s, 1)
df_00s_uk = data_uk_only(df_00s, 1)
df_10s_uk = data_uk_only(df_10s, 1)
df_20s_uk = data_uk_only(df_20s, 2)#remove last 2

In [22]:
df_20s_uk

                     Title  Year Peak chart positions
                     Title  Year        UK Sales [98]
0           "Ghosts Again"  2023                   14
1      "My Cosmos Is Mine"  2023                   32
2         "Wagging Tongue"  2023                   22
3            "Speak to Me"  2023                    —
4  "My Favourite Stranger"  2023                   19
5   "Before We Drown"[108]  2024                   16
6        "People Are Good"  2024                   52

In [23]:
df_90s_uk

,Title,Year,Peak chart positions,Album
,Title,Year,UK [3],Album
0,"""Enjoy the Silence""",1990,6,Violator
1,"""Policy of Truth""",1990,16,Violator
2,"""World in My Eyes""",1990,17,Violator
3,"""I Feel You""",1993,8,Songs of Faith and Devotion
4,"""Walking in My Shoes""",1993,14,Songs of Faith and Devotion
5,"""Condemnation""",1993,9,Songs of Faith and Devotion
6,"""In Your Room""",1994,8,Songs of Faith and Devotion
7,"""Barrel of a Gun""",1997,4,Ultra
8,"""It's No Good""",1997,5,Ultra
9,"""Home""",1997,23,Ultra
10,"""Useless""",1997,28,Ultra
11,"""Only When I Lose Myself""",1998,17,The Singles 86>98

<h2>combine all decade ?</h2>  Probably easy to have them in one dataframe for some operation

In [24]:
#2020's have slightly different colum names so unify this
df_20s_uk.rename(columns = {'UK Sales [98]':'UK [3]'}, inplace = True)

In [25]:
#combining all data frame from 80s through 20s
frames = [df_80s_uk, df_90s_uk, df_00s_uk, df_10s_uk,df_20s_uk]
df_all_decades_uk = pd.concat(frames , ignore_index=True)

In [26]:
df_all_decades_uk.tail()

                      Title  Year Peak chart positions Album
                      Title  Year               UK [3] Album
59         "Wagging Tongue"  2023                   22   NaN
60            "Speak to Me"  2023                    —   NaN
61  "My Favourite Stranger"  2023                   19   NaN
62   "Before We Drown"[108]  2024                   16   NaN
63        "People Are Good"  2024                   52   NaN

<h2>Removing unwanted string ("—" , "—[K]", "—[N]") from the data</h2>

In [27]:
#Function to removing unwanted string from the chart data ("—" , —[K], —[N]) 
def remove_hyphen(df,colname1,colname2):
    uk_chart_substring= "—"
    hyphen = df_all_decades_uk[colname1][colname2].str.contains(uk_chart_substring)
    df_new= df[~hyphen]
    return df_new

In [28]:
#remove the hyphen
df_all_decades_uk_clean=remove_hyphen(df_all_decades_uk ,'Peak chart positions','UK [3]')

<h2>Fix the redundant column names Finally</h2>

In [29]:
# fix the redundant column names
df_all_decades_uk_clean.columns = ['Title', 'Year','UK', 'Album']

In [30]:
df_all_decades_uk_clean

,Title,Year,UK,Album
0,"""Dreaming of Me""",1981,57,Non-album single[D]
1,"""New Life""",1981,11,Speak & Spell
2,"""Just Can't Get Enough""",1981,8,Speak & Spell
3,"""See You""",1982,6,A Broken Frame
4,"""The Meaning of Love""",1982,12,A Broken Frame
5,"""Leave in Silence""",1982,18,A Broken Frame
6,"""Get the Balance Right!""",1983,13,Non-album single
7,"""Everything Counts""",1983,6,Construction Time Again
8,"""Love, in Itself""",1983,21,Construction Time Again
9,"""People Are People""",1984,4,Some Great Reward
10,"""Master and Servant""",1984,9,Some Great Reward
11,"""Blasphemous Rumours"" / ""Somebody""",1984,16,Some Great Reward
12,"""Shake the Disease""",1985,18,The Singles 81→85
13,"""It's Called a Heart""",1985,18,The Singles 81→85
14,"""Stripped"" / ""But Not Tonight""[F]",1986,15,Black Celebration
15,"""A Question of Lust""",1986,28,Black Celebration
16,"""A Question of Time""",1986,17,Black Celebration
17,"""Strangelove""",1987,16,Music for the Masses
18,"""Never Let Me Down Again""",1987,22,Music for the Masses
19,"""Behind the Wheel""[G]",1987,21,Music for the Masses
20,"""Little 15""",1988,60,Music for the Masses
23,"""Everything Counts"" (live)",1989,22,101
24,"""Personal Jesus""",1989,13,Violator
25,"""Enjoy the Silence""",1990,6,Violator
26,"""Policy of Truth""",1990,16,Violator
27,"""World in My Eyes""",1990,17,Violator
28,"""I Feel You""",1993,8,Songs of Faith and Devotion
29,"""Walking in My Shoes""",1993,14,Songs of Faith and Devotion
30,"""Condemnation""",1993,9,Songs of Faith and Devotion
31,"""In Your Room""",1994,8,Songs of Faith and Devotion
32,"""Barrel of a Gun""",1997,4,Ultra
33,"""It's No Good""",1997,5,Ultra
34,"""Home""",1997,23,Ultra
35,"""Useless""",1997,28,Ultra
36,"""Only When I Lose Myself""",1998,17,The Singles 86>98
37,"""Dream On""",2001,6,Exciter
38,"""I Feel Loved""",2001,12,Exciter
39,"""Freelove""",2001,19,Exciter
41,"""Enjoy the Silence 04"" (remixed by Mike Shinoda)",2004,7,Remixes 81–04
42,"""Precious""",2005,4,Playing the Angel
43,"""A Pain That I'm Used To""",2005,15,Playing the Angel
44,"""Suffer Well""",2006,12,Playing the Angel
45,"""John the Revelator"" / ""Lilian""",2006,18,Playing the Angel
46,"""Martyr""",2006,13,The Best of Depeche Mode Volume 1
47,"""Wrong""",2009,24,Sounds of the Universe
48,"""Peace""",2009,57,Sounds of the Universe
50,"""Personal Jesus 2011"" (remixed by Stargate)",2011,119,Remixes 2: 81–11
51,"""Heaven""",2013,60,Delta Machine
52,"""Soothe My Soul""",2013,88,Delta Machine
53,"""Should Be Higher""",2013,81,Delta Machine
57,"""Ghosts Again""",2023,14,NaN
58,"""My Cosmos Is Mine""",2023,32,NaN
59,"""Wagging Tongue""",2023,22,NaN
61,"""My Favourite Stranger""",2023,19,NaN
62,"""Before We Drown""[108]",2024,16,NaN
63,"""People Are Good""",2024,52,NaN

<h2>Save as CSV files as a back up in case for the network issue</h2> Probably better for keeping each decade in separate file since not all the columns from different decadees don't match. For example no certifications in 20s and countries varies.

In [31]:
#save to csv
# df_all_decades_uk_clean.to_csv('dm_all_decade_uk.csv', index=False)

<h2>find the ranking</h2>

In [32]:
chart_uk_int = pd.to_numeric(df_all_decades_uk_clean['UK'])
#highest rank
print('highest rank:' , chart_uk_int.min())
#find the average
print('average:' , chart_uk_int.mean())

highest rank: 4
average: 22.785714285714285

<h2>Find the top songs</h2>

In [33]:
#find the songs withinranked in top ten

def top_songs(df,ranking_num):
    topsongs_list = []

    for i in df.itertuples():

        if(pd.to_numeric(i[3]) <= ranking_num):
            #tuple with title, 
            topsongs_list.append((i[1], i[2],i[3]))
    return topsongs_list

In [34]:
top_songs(df_all_decades_uk_clean, 5)

[('"People Are People"', '1984', '4'),
 ('"Barrel of a Gun"', '1997', '4'),
 ('"It\'s No Good"', '1997', '5'),
 ('"Precious"', '2005', '4')]

In [35]:
top_songs(df_all_decades_uk_clean, 10)

[('"Just Can\'t Get Enough"', '1981', '8'),
 ('"See You"', '1982', '6'),
 ('"Everything Counts"', '1983', '6'),
 ('"People Are People"', '1984', '4'),
 ('"Master and Servant"', '1984', '9'),
 ('"Enjoy the Silence"', '1990', '6'),
 ('"I Feel You"', '1993', '8'),
 ('"Condemnation"', '1993', '9'),
 ('"In Your Room"', '1994', '8'),
 ('"Barrel of a Gun"', '1997', '4'),
 ('"It\'s No Good"', '1997', '5'),
 ('"Dream On"', '2001', '6'),
 ('"Enjoy the Silence 04" (remixed by Mike Shinoda)', '2004', '7'),
 ('"Precious"', '2005', '4')]

<h2> Removing Remixes</h2>  Remixes can have an influenceor the artist remizing so removing them. Also it can be a problem for sentiment analysis.

In [36]:
#Function to removing unwanted string from the chart data ("—" , —[K], —[N]) 
def remove_substr(df,colname1,substr):
    
    substring_filter = df[colname1].str.contains(substr)
    df_new= df[~substring_filter]
    
    return df_new

In [37]:
df_all_decades_uk_no_remix=remove_substr(df_all_decades_uk_clean, 'Title', 'remix')

In [38]:
df_all_decades_uk_no_remix

,Title,Year,UK,Album
0,"""Dreaming of Me""",1981,57,Non-album single[D]
1,"""New Life""",1981,11,Speak & Spell
2,"""Just Can't Get Enough""",1981,8,Speak & Spell
3,"""See You""",1982,6,A Broken Frame
4,"""The Meaning of Love""",1982,12,A Broken Frame
5,"""Leave in Silence""",1982,18,A Broken Frame
6,"""Get the Balance Right!""",1983,13,Non-album single
7,"""Everything Counts""",1983,6,Construction Time Again
8,"""Love, in Itself""",1983,21,Construction Time Again
9,"""People Are People""",1984,4,Some Great Reward
10,"""Master and Servant""",1984,9,Some Great Reward
11,"""Blasphemous Rumours"" / ""Somebody""",1984,16,Some Great Reward
12,"""Shake the Disease""",1985,18,The Singles 81→85
13,"""It's Called a Heart""",1985,18,The Singles 81→85
14,"""Stripped"" / ""But Not Tonight""[F]",1986,15,Black Celebration
15,"""A Question of Lust""",1986,28,Black Celebration
16,"""A Question of Time""",1986,17,Black Celebration
17,"""Strangelove""",1987,16,Music for the Masses
18,"""Never Let Me Down Again""",1987,22,Music for the Masses
19,"""Behind the Wheel""[G]",1987,21,Music for the Masses
20,"""Little 15""",1988,60,Music for the Masses
23,"""Everything Counts"" (live)",1989,22,101
24,"""Personal Jesus""",1989,13,Violator
25,"""Enjoy the Silence""",1990,6,Violator
26,"""Policy of Truth""",1990,16,Violator
27,"""World in My Eyes""",1990,17,Violator
28,"""I Feel You""",1993,8,Songs of Faith and Devotion
29,"""Walking in My Shoes""",1993,14,Songs of Faith and Devotion
30,"""Condemnation""",1993,9,Songs of Faith and Devotion
31,"""In Your Room""",1994,8,Songs of Faith and Devotion
32,"""Barrel of a Gun""",1997,4,Ultra
33,"""It's No Good""",1997,5,Ultra
34,"""Home""",1997,23,Ultra
35,"""Useless""",1997,28,Ultra
36,"""Only When I Lose Myself""",1998,17,The Singles 86>98
37,"""Dream On""",2001,6,Exciter
38,"""I Feel Loved""",2001,12,Exciter
39,"""Freelove""",2001,19,Exciter
42,"""Precious""",2005,4,Playing the Angel
43,"""A Pain That I'm Used To""",2005,15,Playing the Angel
44,"""Suffer Well""",2006,12,Playing the Angel
45,"""John the Revelator"" / ""Lilian""",2006,18,Playing the Angel
46,"""Martyr""",2006,13,The Best of Depeche Mode Volume 1
47,"""Wrong""",2009,24,Sounds of the Universe
48,"""Peace""",2009,57,Sounds of the Universe
51,"""Heaven""",2013,60,Delta Machine
52,"""Soothe My Soul""",2013,88,Delta Machine
53,"""Should Be Higher""",2013,81,Delta Machine
57,"""Ghosts Again""",2023,14,NaN
58,"""My Cosmos Is Mine""",2023,32,NaN
59,"""Wagging Tongue""",2023,22,NaN
61,"""My Favourite Stranger""",2023,19,NaN
62,"""Before We Drown""[108]",2024,16,NaN
63,"""People Are Good""",2024,52,NaN

<h2>Function to find average per the decade</h2>

In [39]:
def decade_avg(df_clean, start_year_str, end_year_str):
  
    total =0
    count=0

    for index, row in df_clean.iterrows():
        if row['Year'] > start_year_str and row['Year'] < end_year_str:
#             print(row['UK'])

            total= total + int(row['UK'])
            count=count + 1

    return int(total/count)

In [40]:
decade_avg(df_all_decades_uk_no_remix, '1980', '1990')

18

In [41]:
decade_avg(df_all_decades_uk_no_remix, '1990', '2000')

12

In [42]:
decade_avg(df_all_decades_uk_no_remix, '2000', '2010')

18

In [43]:
decade_avg(df_all_decades_uk_no_remix, '2010', '2020')

76

In [44]:
decade_avg(df_all_decades_uk_no_remix, '2020', '2025')

25

<h2>Plot test</h2>

<!-- <h2> remove #need to remove '"—" denotes a recording that did not chart or was not released in that territory.' at the end of the table </h2> -->